.totalContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/jexiste.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20%;
}
