.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: flex;
    height: 100vh;
    width: 100vw;
    background: rgba(202, 206, 203, 0.3);
    font-size: var(--fontSize);
}

.barLine{
    height: 10%;
    width: 100vw;
    background: rgba(202, 206, 203, 0.8);
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 1%;
}

h1 {
    text-align: center;
}

.gitHubLogo{
    width:  30px;
    height: 30px;
}

.gitHubContainer{
    display: flex;
    flex-wrap: wrap;
}

.createdUsing{
    display: flex;
    flex-wrap: wrap;
}

.created{
    margin-right: 8px;
}

img {
    margin-bottom: 1%;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color: var(--fontColor);

  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: var(--fontColor);
  } 

a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  color: var(--fontColor);
  } 
a:active  {
  /* Applies to activated links */
  color: var(--fontColor);
  } 