.totalContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/be-happy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -5;
}
.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 20%;
  font-size: 70px;
  background-color: whitesmoke;
  opacity: 0.5;
  padding: 10px;
}

.iAm {
  position: absolute;
  top: 43%;
  left: 31%;
  width: 40%;
  height: 20%;
  font-size: 70px;
  padding: 10px;
  color: var(--fontColor);
}
