.totalContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/be-happy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -5;
}
.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65vw;
  min-width: 105px;
  /* height: 25%; */
  background-color: rgb(245, 245, 245, 0.6);
  padding: 10px;
  border-radius: 25px;
}

.iAm {
  font-size: 70px;
  padding: 10px;
  color: var(--fontColor);
  text-align: center;
}

.fullName{
  font-size: 30px;
  padding: 10px;
  color: var(--fontColor);
  text-align: center;
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 59%;
  font-size: 70px;
  background-color: rgb(245, 245, 245, 0.6);
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
}

.reactLogo {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.htmlLogo {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.cssLogo {
  height: 90px;
  width: 60px;
  padding: 10px;
}

.jsLogo {
  height: 70px;
  width: 70px;
  padding: 15px;
}

.nodejsLogo {
  height: 70px;
  width: 120px;
}

.mongoDB {
  height: 100px;
  width: 100px;
}

.androidLogo {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 370px) {
  .iAm {
    font-size: 10px;
    padding: 5px;
    color: var(--fontColor);
    text-align: center;
  }
  .fullName{
  font-size: 20px;
  padding: 10px;
  color: var(--fontColor);
  text-align: center;
}
}

@media only screen and (max-width: 768px) {
  .iconsContainer {
    flex-wrap: wrap;
  }

  .fullName{
  font-size: 20px;
  padding: 10px;
  color: var(--fontColor);
  text-align: center;
}

  .totalContainer {
    background-position: 30% 30%;
  }

  .iAm {
    font-size: 30px;
    padding: 10px;
    color: var(--fontColor);
    text-align: center;
  }

  .reactLogo {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.htmlLogo {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.cssLogo {
  height: 45px;
  width: 30px;
  padding: 10px;
}

.jsLogo {
  height: 40px;
  width: 40px;
  padding: 15px;
}

.nodejsLogo {
  height: 40px;
  width: 70px;
}

.mongoDB {
  height: 60px;
  width: 60px;
}

.androidLogo {
  height: 60px;
  width: 60px;
}
}
