/* import font family here */
@import url('https://fonts.googleapis.com/css?family=Paytone+One');

:root {
  --primaryColor: #1c819e;
  --secondaryColor: #005542;
  --bgColor: #dfdfdf;
  --accentColor: #ffbe00;
  --fontFamily: Paytone One, Arial;
}

html,
body {

  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
}


